<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_projet.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <link rel="icon" href="{% static 'path/to/your/favicon.ico' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="user-actu" data-user-actu="{{ user }}" style="display: none;"></div>
    <div id="user-admin-const" data-user-admin="{{ user_admin }}" style="display: none;"></div>

    <sidebar>
        {% for projet in projets %}
            <div>{{ projet.nom }}</div>
            
        {% endfor %}
    </sidebar>

    <div class="div-card">
        <div class="taches-regroupement-container">
            {% for regroupement in taches_regroupement %}
                <div class="taches-regroupement">
                    <h1 class="taches-regroupement-title">{{ regroupement.nom }}</h1>
                    <p class="taches-regroupement-description">{{ regroupement.description }}</p>
                    {% if regroupement.est_terminee == True %}
                        <button class="taches-regroupement-button completed">✅ Voir les tâches</button>
                    {% else %}
                        <a href="{% url 'see_tasks' projet_name admin_hash regroupement.id %}" class="taches-regroupement-link pending">⏳ Voir les tâches</a>
                    {% endif %}
                </div>
            {% endfor %}
    
        </div>

        <div class="div-card">
            <div class="crer_regroupement">
                <button class="crer_regroupement_btn" id="creer_regroupement"><strong>Créer un regroupement</strong></button>
            </div>
        </div>
    </div>
    

    <div id="data-url-add" style="display: none;" data-url-add-qqun="{% url "add_qqun_to_projet" projet_id %}"></div>
    <div id="params" class="params-div">
        <i id="params" class="fas fa-cog"></i>
    </div>
    

    <!-- Ton bouton pour afficher le chat -->
    <div class="btn-chat" id="show-chat-btn">
        <i id="show-chat-btn" class="fas fa-comment"></i>
        <span id="show-chat-btn">Chat du projet</span>
    </div>

    <!-- Ton conteneur de messages (cache les messages en initial) -->
    <div id="messages-data" style="display: none;" data-messages='{{ message_projet|safe }}'></div>



    <script>
        const userActuDiv = document.getElementById('user-actu');
        const userAdminConstDiv = document.getElementById('user-admin-const');

        // Vérifier si les éléments existent avant d'essayer de récupérer leurs attributs
        const userActu = userActuDiv.getAttribute('data-user-actu');
        const userAdminConst = userAdminConstDiv.getAttribute('data-user-admin');

        // Déclaration de la variable en dehors de l'if
        let userActuisAdmin = userActu === userAdminConst;

        console.log("L'utilisateur est admin :", userActuisAdmin);

        const divUrlAddQqun = document.getElementById('data-url-add');
        const urlAddQqun = divUrlAddQqun ? divUrlAddQqun.getAttribute('data-url-add-qqun') : null;
        console.log(urlAddQqun);

        document.getElementById('params').addEventListener("click", function() {
            Swal.fire({
                title: 'Paramètres',
                html: `
                    ${userActuisAdmin ? `
                        <div id="div-inviter">
                            <form method="POST" action="${urlAddQqun}">
                                {% csrf_token %}
                                <input type="text" name="pseudo" id="pseudo" placeholder="Nom d'utilisateur">
                                <button type="submit">Inviter</button>
                            </form>
                        </div>` : ''}
                `,
                showConfirmButton: false,
                showCloseButton: true
            });
        });
        // je veux un doc.addeventlistener click
        

    </script>



    <script>
        document.getElementById("show-chat-btn").addEventListener("click", function() {
            const messagesElement = document.getElementById("messages-data");
            const messages = JSON.parse(messagesElement.dataset.messages);
    
            // Trier les messages par date
            messages.sort((a, b) => new Date(a.date) - new Date(b.date));
    
            // Créer le contenu HTML pour afficher les messages
            let messageContent = "<div class='message-list'>";
            messages.forEach(message => {
                // Vérifie si le message vient de l'utilisateur actuel
                const isCurrentUser = message.user === "{{ request.user.username }}"; // Remplace par le nom d'utilisateur actuel si nécessaire
    
                // Appliquer une classe en fonction de l'utilisateur
                const messageClass = isCurrentUser ? 'message sent' : 'message received';
                const icon = isCurrentUser ? '<i class="fas fa-user-circle"></i>' : '<i class="fas fa-user"></i>';
                
                messageContent += `
                    <div class='${messageClass}'>
                        <div class="message-bubble">
                            ${icon} <strong>${message.user}</strong>: 
                            <div>${message.texte}</div>
                        </div>
                    </div>
                `;
            });
            messageContent += "</div>";
    
            // Ajouter le formulaire pour envoyer un message
            let formContent = `
                <form id="message-form" action="{% url 'projet' projet_name admin_hash %}" method="POST">
                    {% csrf_token %}
                    <div class="input-container">
                        <input type="text" name="message_projet" id="message_projet" placeholder="Écrire un message..." class="message-input">
                        <div class="message-submit-btn">
                            <button type="submit">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </form>
            `;
    
            // Afficher les messages et le formulaire dans SweetAlert2
            Swal.fire({
                title: 'Messages du Projet',
                html: messageContent + formContent,
                showCloseButton: true,
                width: 600,
                padding: '1em',
                showConfirmButton: false,
                confirmButtonColor: '#3085d6',
                didOpen: () => {
                    const form = document.getElementById("message-form");
                    form.addEventListener("submit", function(event) {
                        // La soumission sera traitée par Django directement
                    });
                }
            });
        });
    </script>

    

    

    <div class="placement-donut">
        <div class="div-card">
            <div class="graphique-repartition-regroup">
                <canvas id="donutChart" width="400" height="400" class="donut-chart"></canvas>
            </div>
        </div>
        <div class="div-card">
            <div class="graphique-repartition-statuts">
                <canvas id="repartitionStatutsChart"></canvas>
            </div>
        </div>
    
        <div id="url-graph_repartition_statuts" style="display: none;" data-url="{% url 'graph_repartition_par_statut' projet_id %}"></div>
        <div class="custom-list-users">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th class="custom-th">Nom d'utilisateur</th>
                    </tr>
                </thead>
                <tbody class="custom-tbody">
                    <!-- Les utilisateurs seront ajoutés ici via JavaScript -->
                </tbody>
            </table>
        </div>       
        
    </div>


    <div class="div-card">
        <div class="graphique-evo-taches-par-jour">
            <canvas id="tachesParJourChart"></canvas>
        </div>
        
    </div>     


    <div id="url-graph_taches-jour" style="display: non;" data-url="{% url "graph_tache_fini_par_jour" projet_id %}"></div>


    

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    const url_tache_par_jour = document.getElementById('url-graph_taches-jour').getAttribute('data-url');  // Remplace avec le vrai nom du projet

    fetch(url_tache_par_jour)
        .then(response => response.json())
        .then(data => {
            console.log(data);
        const ctx = document.getElementById("tachesParJourChart").getContext("2d");

        new Chart(ctx, {
            type: "line",
            data: {
            labels: data.date, // Liste des dates
            datasets: [{
                label: "Tâches terminées par jour",
                data: data.tasks_completed, // Nombre de tâches terminées par jour
                borderColor: "rgb(75, 192, 192)",
                backgroundColor: "rgba(75, 192, 192, 0.2)",
                borderWidth: 2,
                fill: true
            }]
            },
            options: {
            responsive: true,
            scales: {
                x: { title: { display: true, text: "Date" } },
                y: { title: { display: true, text: "Tâches terminées" }, beginAtZero: true, ticks: { stepSize: 1 } }
            }
            }
        });
        })
        .catch(error => console.error("Erreur JSON:", error));
    </script>


    

        

    <script>
        const url_repartition_statuts = document.getElementById('url-graph_repartition_statuts').getAttribute('data-url');
    
        fetch(url_repartition_statuts)
            .then(response => response.json())
            .then(data => {
                const ctx = document.getElementById("repartitionStatutsChart").getContext("2d");
    
                new Chart(ctx, {
                    type: "pie", // Graphique circulaire
                    data: data,
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            tooltip: {
                                callbacks: {
                                    label: function(tooltipItem) {
                                        return tooltipItem.label + ': ' + tooltipItem.raw + ' tâches';
                                    }
                                }
                            }
                        }
                    }
                });
            })
            .catch(error => console.error("Erreur JSON:", error));
    </script>
    


    <script type="text/javascript">
        fetch("{% url 'gantt_sans_date' projet_name %}")
        .then(response => response.json())
        .then(data => {
            console.log("Données reçues : ", data);  // Vérification du contenu des données
            const users_data_n1 = data.users;  // Liste des utilisateurs
            const tbody = document.querySelector('.custom-tbody'); // Sélectionne le corps du tableau
        
            users_data_n1.forEach(user => {
                let username = user;  // Récupérer le nom de l'utilisateur
                    
                // Créer une ligne du tableau <tr>
                const tr = document.createElement('tr');
                
                // Créer une cellule de tableau <td> et ajouter le nom de l'utilisateur
                const td = document.createElement('td');
                td.classList.add('custom-td'); // Applique la classe pour la cellule
                td.textContent = username; // Ajouter le nom de l'utilisateur à la cellule
                
                // Ajouter la cellule à la ligne du tableau
                tr.appendChild(td);
        
                // Ajouter la ligne dans le corps du tableau
                tbody.appendChild(tr);
            });
        })
        .catch(error => console.error('Erreur lors de la récupération des données:', error));
    </script>
    
    
    

    
    

    <div class="div-card">
        <div class="btn-fleche-plus-texte">
            <label class="switch">
                <input type="checkbox" id="toggleSwitch">
                <span class="slider"></span>
            </label>
            <label>Cacher les fleches</label>
        </div>
        

        <div class="btn-fleche-plus-texte">
            <label class="switch">
                <input type="checkbox" id="color">
                <span class="slider"></span>
            </label>
            <label>Coloriastion des taches selon leur statu</label>
        </div>


    
        <p id="state" style="display: none;">État: 0</p>
        <div class="gantt-container" id="gantt-container">
            <div class="gantt-tasks" id="gantt-tasks"></div>
        </div> 
    </div>
    

    
    

    <script type="text/javascript">

        let switchState = 0; // Variable qui stocke l'état du switch

        document.getElementById("toggleSwitch").addEventListener("change", function() {
            switchState = this.checked ? 1 : 0;
            document.getElementById("state").textContent = "État: " + switchState;
            console.log("Switch State:", switchState); // Affiche dans la console
        });
    
        // Chargement des données JSON envoyées par Django
        const tasksData = JSON.parse(`{{ tasks_data|safe }}`);

        function drawarrowsvg_en_L(svg, x1, y1, x2, y2) {
            // Crée la flèche horizontale (part du bord droit de la dépendance)
            const horizontalArrow = document.createElementNS("http://www.w3.org/2000/svg", "line");
            horizontalArrow.setAttribute("x1", x1 + 170); // Bord droit de la dépendance (tâche source)
            horizontalArrow.setAttribute("y1", y1 + 15); // Y de la dépendance
            horizontalArrow.setAttribute("x2", x1 + 170 + 30);// Bord gauche de la tâche dépendante (tâche cible)
            horizontalArrow.setAttribute("y2", y1 + 15); // Y de la dépendance (pas de changement pour horizontal)
            horizontalArrow.setAttribute("stroke", "black");
            horizontalArrow.setAttribute("stroke-width", "2");
            if (y2 > y1) {
                horizontalArrow.setAttribute('y1', y1 - 9)
                horizontalArrow.setAttribute('y2', y1 - 9)
            }
            
            svg.appendChild(horizontalArrow);
        
            // Crée la flèche verticale (vers le bas ou vers le haut selon la position de y2)
            const verticalArrow = document.createElementNS("http://www.w3.org/2000/svg", "line");
            verticalArrow.setAttribute("x1", x2 + 35); // Bord gauche de la tâche dépendante (tâche cible)
            verticalArrow.setAttribute("y1", y1 + 15); // Y de la dépendance (pas de changement pour vertical)
            verticalArrow.setAttribute("marker-end", "url(#arrow)"); // Pour ajouter la tête de la flèche
            
            if (y2 > y1) { // Si la tâche dépendante est en dessous de la tâche source, flèche vers le bas
                verticalArrow.setAttribute("x2", x2 + 35);
                verticalArrow.setAttribute("y2", y2  - 33); // Position du bas de la tâche dépendante
                verticalArrow.setAttribute('y1', y1 - 9)

            } else { // Si la tâche dépendante est au-dessus de la tâche source, flèche vers le haut
                verticalArrow.setAttribute("x2", x2 + 35);
                verticalArrow.setAttribute("y2", y2 + 40); // Position du haut de la tâche dépendante
            }
            
            verticalArrow.setAttribute("stroke", "black");
            verticalArrow.setAttribute("stroke-width", "2");
            svg.appendChild(verticalArrow);
        }
        
        function supprimerToutesFleches(svg) {
            // Sélectionner toutes les flèches (lignes) dans le SVG
            const arrows = svg.querySelectorAll("line");
            arrows.forEach(arrow => {
                svg.removeChild(arrow); // Supprimer chaque flèche du SVG
            });
        }


        // Calcul du total des tâches
        const totalTaches = tasksData.reduce((acc, item) => acc + item.value, 0);

        // Préparation des labels et des données pour Chart.js
        const labels = tasksData.map(item => item.label);
        const dataValues = tasksData.map(item => item.value);

        // Création du graphique donut
        const donutChart = new Chart(document.getElementById('donutChart'), {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    data: dataValues,
                    backgroundColor: [
                        '#FF6384', '#36A2EB', '#FFCE56', '#FF5733', '#8E44AD',
                        '#FF9F40', '#FFCD56', '#4BC0C0', '#FFB6C1', '#5D4037',
                        '#FF80AB', '#E57373', '#81C784', '#64B5F6', '#F06292',
                        '#FFEB3B', '#00BCD4', '#8E24AA', '#FFC107', '#43A047',
                        '#FF7043', '#9C27B0', '#8BC34A', '#607D8B', '#3F51B5'
                    ],
                    hoverBackgroundColor: [
                        '#FF4066', '#3399FF', '#FFCC33', '#FF4511', '#7D3C8D',
                        '#FF7F3D', '#FFBB33', '#40D9D9', '#FF8D9E', '#6D4C41',
                        '#FF69B4', '#D32F2F', '#66BB6A', '#42A5F5', '#EC407A',
                        '#FFF176', '#00ACC1', '#7B1FA2', '#FF9800', '#388E3C',
                        '#FF5722', '#D500F9', '#8BC34A', '#455A64', '#303F9F'
                    ],
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                const percentage = (tooltipItem.raw / totalTaches) * 100;
                                return `${tooltipItem.label}: ${percentage.toFixed(2)}%`;
                            }
                        }
                    }
                }
            }
        });

        // Gestion du bouton "Créer un regroupement"
        document.getElementById("creer_regroupement").addEventListener("click", function() {
            Swal.fire({
                title: 'Créer un regroupement',
                html: `
                    <form method="POST" action="{% url 'creer_regroupement' projet_name admin_hash %}">
                        {% csrf_token %}
                        <label for="nom">Nom du regroupement</label>
                        <input type="text" id="nom" name="nom" placeholder="Nom du regroupement" required>
                        <label for="description">Description</label>
                        <textarea id="description" name="description" placeholder="Description du regroupement" required></textarea>
                        <button type="submit">Créer</button>
                    </form>
                `,
                showConfirmButton: false,
                showCancelButton: true,
                cancelButtonText: 'Annuler',
                width: '600px',
                padding: '20px',
            });
        });
        const regroupementCouleurs = {};
        tasksData.forEach((item, index) => {
            regroupementCouleurs[item.label] = donutChart.data.datasets[0].backgroundColor[index];
        });

        // Fonction pour créer les barres du Gantt
        fetch("{% url 'gantt_sans_date' projet_name %}")
        .then(response => response.json())
        .then(data => {
            console.log("Données reçues : ", data);  // Vérification du contenu des données
            const taskPositions = data.positions;  // Positions des tâches
            const tasks = data.tasks;  // Liste des tâches

            const users = data.users;

            let userOptions = users.map(user => `<option value="${user}">${user}</option>`).join("");
            console.log("users", userOptions);
            

            
            console.log("Données Gantt:", taskPositions);

            const ganttContainer = document.getElementById("gantt-container");
            const ganttTasks = document.getElementById("gantt-tasks");

            if (!ganttTasks) {
                console.error("Le conteneur des tâches Gantt n'a pas été trouvé.");
                return;
            }

            const taskWidth = 75;  // Largeur des barres
            const taskHeight = 30;  // Hauteur des barres
            let taskSpacing = 36;  // Espacement entre les tâches
            const dependencySpacing = 165;  // Espacement en pixels entre les tâches (dépendant de leur position)

            
            
            // Appliquer la largeur dynamique
            

            // Création d'un svg pour les flèches des tâches 
            const svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
            svg.setAttribute("width", ganttTasks.scrollWidth); // On garde la largeur initiale mais ne la met pas à jour lors du scroll
            svg.setAttribute("height", "100%");
            svg.style.position = "absolute"; // Assurer qu'il soit en position absolue par rapport au gantt-container
            svg.style.top = "0"; // Garde le haut du SVG aligné avec le conteneur
            svg.style.left = "0"; // Garde la position gauche du SVG
            svg.style.pointerEvents = "none"; // Désactive les événements sur l'élément SVG
            ganttContainer.appendChild(svg);


            // ajout d'un marker pour les fleches
            const marker = document.createElementNS("http://www.w3.org/2000/svg", "marker");
            marker.setAttribute("id", "arrow");
            marker.setAttribute("markerWidth", "10");
            marker.setAttribute("markerHeight", "10");
            marker.setAttribute("refX", "0");
            marker.setAttribute("refY", "3");
            marker.setAttribute("orient", "auto");
            const path = document.createElementNS("http://www.w3.org/2000/svg", "path");
            path.setAttribute("d", "M0,0 L0,6 L9,3 z");
            path.setAttribute("fill", "black");
            marker.appendChild(path);
            svg.appendChild(marker);

            // Fonction pour ajuster la taille du SVG
            function updateSVGSize() {
                const ganttContainer = document.getElementById("gantt-container");
                const svg = document.querySelector("svg");
                
                if (ganttContainer && svg) {
                    svg.setAttribute("width", ganttContainer.scrollWidth);
                    svg.setAttribute("height", ganttContainer.scrollHeight);
                }
            }

            // Appliquer l'ajustement de la taille du SVG lorsque le conteneur est redimensionné ou défilé
            window.addEventListener("resize", updateSVGSize);
            document.getElementById("gantt-container").addEventListener("scroll", updateSVGSize);

            // Appliquer la taille initiale
            updateSVGSize();


            // Boucle pour dessiner les barres de chaque tâche
            tasks.forEach(task => {
                const taskRow = document.createElement("div");
                taskRow.classList.add("task-row");
                taskRow.setAttribute("data-task-id", task.tache_id);
                taskRow.setAttribute("draggable", true);

                const taskBar = document.createElement("div");
                taskBar.classList.add("gantt-bar");
                taskBar.textContent = task.name;
                taskBar.style.width = `${task.duree * taskWidth}px`; // La largeur de la barre dépend de la durée de la tâche

                // Position verticale des tâches
                const verticalPosition = taskSpacing * tasks.indexOf(task);
                taskBar.style.top = `${verticalPosition}px`;

                // Position horizontale des tâches selon la position calculée
                let horizontalPosition = taskPositions[task.tache_id] //* dependencySpacing; // Utilisation des positions
                taskBar.style.left = `${horizontalPosition}px`;

                let taskColor = '';
                const regroupementColor = regroupementCouleurs[task.regroupement[0]] || '#CCCCCC';  // Par défaut, couleur du regroupement
                taskColor = regroupementColor;  // Utilisation du regroupement comme couleur par défaut

                // Appliquer la couleur initiale
                taskBar.style.backgroundColor = taskColor;

                // Ajouter l'événement de changement pour les couleurs (via checkbox)
                document.getElementById('color').addEventListener("change", function() {
                    if (this.checked) {
                        // Si le checkbox est coché, appliquer la couleur selon le statut (est_terminee)
                        switch (task.est_terminee) {
                            case 0: // A faire (rouge)
                                taskBar.style.backgroundColor = 'red';
                                break;
                            case 1: // En cours (jaune)
                                taskBar.style.backgroundColor = 'yellow';
                                break;
                            case 2: // Terminée (vert)
                                taskBar.style.backgroundColor = 'green';
                                break;
                        }
                    } else {
                        // Si le checkbox n'est pas coché, appliquer la couleur selon le regroupement
                        taskBar.style.backgroundColor = regroupementCouleurs[task.regroupement[0]] || '#CCCCCC';
                    }
                });


                
                const url = "{% url 'modifier_tache' projet_name 0 admin_hash %}".replace('0', task.tache_id);

                taskRow.addEventListener("click", () => {
                    

                    Swal.fire({
                        title: task.name,
                        html: `
                            <form method="POST" action="${url}">
                                {% csrf_token %}
                                <label for="nom">Nom de la tâche</label>
                                <input type="text" id="nom" name="nom" value="${task.name}" required>
                                <label for="description">Description</label>
                                <textarea id="description" name="description" required>${task.description}</textarea>
                                <label>Statu</label>

                                <label>Est assigné à :</label>
                                <select name="assignee_a" id="assignee_a">
                                    <option value="null">-- Sélectionner un utilisateur --</option>
                                    ${userOptions}
                                </select>

                                <select name="statu" id="statu" value="${task.est_terminee}" required>
                                    <option value="0">A faire</option>
                                    <option value="1">En cour</option>
                                    <option value="2">Terminée</option>
                                </select>
                                <button type="submit">Modifier</button>
                            </form>
                        `,
                        showCancelButton: false,
                        showConfirmButton: false,
                        width: '600px',
                        padding: '20px',
                    });
                });

                taskRow.appendChild(taskBar);
                ganttTasks.appendChild(taskRow);

                task.dependances.forEach(dependencyId => {
                    const dependencyTask = data.tasks.find(t => t.tache_id === dependencyId);
                    if (!dependencyTask) {
                        console.error(`La tâche ${task.tache_id} dépend de la tâche ${dependencyId}, mais cette dernière n'a pas été trouvée.`);
                        return;
                    }

                    const dependencyPosition = data.positions[dependencyId];
                    const x1 = horizontalPosition;
                    const y1 = verticalPosition + taskHeight / 2;
                    const x2 = dependencyPosition;
                    const y2 = taskSpacing * data.tasks.indexOf(dependencyTask) + taskHeight / 2;
                    drawarrowsvg_en_L(svg, x2, y2, x1, y1);
                });






                document.getElementById('toggleSwitch').addEventListener("change", function() {
                    const svg = document.querySelector('svg');
                    if (this.checked) {  // Si le slider est à droite (activé)
                        svg.style.display = "none";



                    } else {  // Si le slider est à gauche (désactivé)
                        // Ajouter les flèches
                        svg.style.display = "block";
                        task.dependances.forEach(dependencyId => {
                            const dependencyTask = tasks.find(t => t.tache_id === dependencyId);
                            if (!dependencyTask) {
                                console.error(`La tâche ${task.tache_id} dépend de la tâche ${dependencyId}, mais cette dernière n'a pas été trouvée.`);
                                return;
                            }
                
                            const dependencyPosition = taskPositions[dependencyId];
                            const x1 = horizontalPosition;
                            const y1 = verticalPosition + taskHeight / 2;
                            const x2 = dependencyPosition;
                            const y2 = taskSpacing * tasks.indexOf(dependencyTask) + taskHeight / 2;
                            drawarrowsvg_en_L(svg, x2, y2, x1, y1);
                        });
                    }
                })




                // Ajout des événements de glisser-déposer
                taskRow.addEventListener("dragstart", (evt) => {
                    evt.dataTransfer.setData("taskId", task.tache_id);
                });

                taskRow.addEventListener("dragover", (evt) => {
                    evt.preventDefault();
                });

                taskRow.addEventListener("drop", (evt) => {
                    evt.preventDefault();
                    const sourceTaskId = evt.dataTransfer.getData("taskId");
                    const targetTaskId = taskRow.getAttribute("data-task-id");
                    // Envoi de la nouvelle position au backend
                    const csrftoken = Cookies.get('csrftoken');
                    fetch('{% url "update_task_position" projet_name admin_hash %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify({
                            movedTaskId: sourceTaskId,
                            targetTaskId: targetTaskId
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            console.log("Les positions des tâches ont été mises à jour avec succès.");
                        } else {
                            console.error("Erreur lors de la mise à jour des positions:", data.error);
                        }
                    })
                    .catch(error => {
                        console.error("Erreur lors de la requête AJAX:", error);
                    });
                });
            });

            // Événement de changement pour la checkbox de coloration
            document.getElementById('color').addEventListener("change", function() {
                // Cibler toutes les barres de tâches
                const allTaskBars = document.querySelectorAll('.gantt-bar');
                
                // Vérifier si la checkbox est cochée
                const isColorByStatus = this.checked; // true si la checkbox est cochée, false si elle ne l'est pas

                // Boucle pour chaque barre de tâche
                allTaskBars.forEach(taskbar => {
                    // Récupérer l'ID de la tâche à partir de l'élément parent
                    const taskRow = taskbar.closest('.task-row');
                    const taskId = taskRow.getAttribute('data-task-id'); // Récupérer l'ID de la tâche depuis le data-task-id

                    // Trouver la tâche correspondante dans les données
                    const task = tasks.find(t => t.tache_id === parseInt(taskId));

                    // Appliquer la couleur en fonction de l'état de la checkbox
                    if (task) {
                        if (isColorByStatus) {
                            if (task.est_terminee == 0) {
                                taskbar.style.backgroundColor = '#e57373';
                            } if (task.est_terminee == 1) {
                                taskbar.style.backgroundColor = '#ff9800';
                            } if (task.est_terminee == 2) {
                                taskbar.style.backgroundColor = '#4caf50'; 
                            }
                        } else {
                            // Si la checkbox n'est pas cochée, colorier selon le regroupement
                            const regroupementColor = regroupementCouleurs[task.regroupement[0]] || '#CCCCCC';
                            taskbar.style.backgroundColor = regroupementColor;
                        }
                    }
                });
            });


            taskbar.style.backgroundColor = 'red';


        })
        .catch(error => {
            console.error("Erreur lors de la récupération des données :", error);
        });

    </script>
    {% load static %}
    <script src="{% static "js/js.js" %}"></script>
</body>
</html>